<section>
  <div class="topSide">
    <h1><%= title %></h1>
    <a href="/catalog/category/create"
      ><button class="createBtn">
        <i class="fa-solid fa-folder-plus"></i> Create Category
      </button></a
    >
  </div>
  <div class="modelsContainer">
    <% for(let elem of category_list) {%>
    <div class="modelCard">
      <div class="imageContainer">
        <img src="<%= elem.picture %> " alt="<%= elem.name %> " />
      </div>
      <div class="contentContainer">
        <h3><a href="<%=elem.url %> "><%= elem.name %></a></h3>
        <p><%= elem.description %></p>
      </div>
    </div>
    <% } %>
  </div>
</section>
