<section>
  <h1><%=title %> : <%= category.name %></h1>
  <p><%=category.description %></p>

  <% if(category_models.length){ %>
  <p class="deleteParagraph">
    Delete the following models before attempting to delete this category
  </p>
  <h2>Models</h2>
  <% category_models.forEach(model =>{ %>
  <ul>
    <a href="<%=model.url %> "> <li><%= model.name %></li></a>
  </ul>

  <% }) %> <% }else{ %>
  <p class="deleteParagraph">Do you really want to delete this Category?</p>
  <form action="" method="POST">
    <div>
      <input
        type="hidden"
        id="categoryid"
        name="categoryid"
        required="true"
        value="<%=category._id%> "
      />
      <button type="submit" class="removeBtn">Delete</button>
      <a href="<%=category.url %> "><button type="button" class="classicBtn">Cancel</button></a>
    </div>
  </form>
  <% } %>
</section>
