<section>
  <h1>Category: <%= category.name %></h1>
  <p><%=category.description %></p>
  <h2>Models</h2>

  <div>
    <% for(let model of category_models){ %>
    <a href="<%=model.url %>">
      <div class="detailedCategoryCardsContainer">
        <p><%= model.name %></p>
        <span>Price:<%= model.price %> RON</span>
        <% if(model.status==='Available'){ %>
        <span class="statusAvailable">Status:<%= model.status %> </span>
        <% }else{ %>
        <span class="statusSold">Status: <%=model.status %> </span>
        <% } %>
      </div>
    </a>

    <% } %>
  </div>
</section>
