<section>
  <h1><%= title %></h1>
  <div class="modelsContainer">
    <% for(let elem of category_list) {%>
    <div class="modelCard">
      <div class="imageContainer">
        <img src="<%= elem.picture %> " alt="<%= elem.name %> " />
      </div>
      <div class="contentContainer">
        <h3><a href="<%=elem.url %> "><%= elem.name %></a></h3>
        <p><%= elem.description %></p>
      </div>
    </div>
    <% } %>
  </div>
</section>
