<section>
  <h1>Name: <%= title %></h1>
  <h2>Category: <%= model.category.name %></h2>
  <div class="btnWrapper">
    <a href="<%= model.url+'/delete' %> "
      ><button class="removeBtn">Delete Model</button></a
    >
    <a href="/catalog/models"
      ><button class="classicBtn">Return To Models</button></a
    >
  </div>
  <div>
    <div>
      <img src="<%= model.picture %> " alt="<%= model.name %> " />
    </div>
    <div>
      <h3>Scale: <%= model.scale %></h3>
      <h3>Price: <span><%= model.price %> RON</span></h3>
      <% if(model.status==='Available') {%>
      <h3>Status:<span class="statusAvailable"> <%= model.status %></span></h3>
      <% }else{ %>
      <h3>Status:<span class="statusSold"> <%= model.status %></span></h3>
      <% } %>
    </div>
  </div>
</section>
